/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Bree Serif";
}
main {
  width: 90%;
  margin-inline: auto;
  padding-block: 2em;
}
#testoAlternato {
  width: 400px;
  padding: 2em;
  border: 2px solid black;
  position: relative;
}
i {
  font-weight: bold;
  color: rgba(35, 35, 251, 0.386);
}

.parole i:nth-of-type(1) {
  /* display: none; */
  position: absolute;
  padding-left: 0.2em;
  animation: parola1 4s 1s linear both infinite;
  /* z-index: 1; */
}
@keyframes parola1 {
  0% {
    opacity: 0;
    transform: translate(0px, -80px);
  }
  50% {
    opacity: 1;
    transform: translate(0px, 0px);
    /* animation-delay: 1s; */
  }
  100% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
}
.parole i:nth-of-type(2) {
  position: absolute;
  padding-left: 0.2em;
  animation: parola2 4s 2s linear both infinite;
}
@keyframes parola2 {
  0% {
    opacity: 0;
    transform: translate(0px, -80px);
  }
  50% {
    opacity: 1;
    transform: translate(0px, 0px);
    /* animation-delay: 1s; */
  }
  100% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
}
.parole i:nth-of-type(3) {
  position: absolute;
  padding-left: 0.2em;
  animation: parola3 4s 3s linear both infinite;
}
@keyframes parola3 {
  0% {
    opacity: 0;
    transform: translate(0px, -80px);
  }
  50% {
    opacity: 1;
    transform: translate(0px, 0px);
    /* animation-delay: 1s; */
  }
  100% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
}
